html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  background: #222;
  color: #aaa
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  font-size: 2em;
  
}